<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.quenice.optimize"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".official.coordinatorlayout.FloatingActionButtonActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".official.coordinatorlayout.BottomSheetBehaviorActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".production.cityselect.CitySelectActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".official.recyclerview.RecyclerViewActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".pickerview.PickerViewActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".refreshloadview.demo.RefreshLoadActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".tab.TabDemoActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".seekbar.SeekBarActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".swipeview.SwipeViewActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".horizontalview.HorizontalViewActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".eventhandle.EventHandleActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".viewpagerandindicator.ViewPagerAndIndicatorActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".viewpagerandindicator.loopviewpager.SampleLoopViewPagerActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".viewpagerandindicator.circleindicator.widget.CircleIndicatorActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".swipeviewandrefreshloadview.SRLActivity"
            android:theme="@style/NoActionBar"/>
    </application>

</manifest>